.scale-up-tr {
    background-color: brown ;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 4s;

}


@keyframes example {
    0%   {width: 10px; height: 10px;}

    100% {width: 100px; height: 100px;}
  }