@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');
body{
    background-color: #dddddd;
    font-family: 'Montserrat', sans-serif;

}
.main-div{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
.left-div{
 
    height: 100vh;
    background-color: white;
  position: fixed;
  width: 10%;
}
.inner-left-div{
    text-align: center;
    border-right: 2px solid #E7DED0;
    
   
}
.logo-img{
    width: 25px;
}
.inner-left-div > h1{
    display: inline;
    font-size: 26px;
}
.hero-left-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 100px;
}
.menu-left-div{
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}
.menu-left-div>i{
   margin-top: 25px;
}
.menu-left-div>h2{
    margin-left: 15px;
	font-size:16px;
	margin-top:25px;
 }
 .menu-left-div>h2:hover{
    cursor: pointer;
 }
  .menu-left-div>i:hover{
    cursor: pointer;
 }
 .menu-left{
     margin-top: 50px;
     padding-bottom: 50px;
 }
.middle-div{
    
    height: 100vh;
    position: absolute;
    width: 76%;
    left: 10%;
   
  
   
}
.inner-middle-div{

    width:95%;
	margin:auto;
    padding: 15px;
    border: 1px solid #E7DED0  ;
    background-color: white;
    margin-top: 10px;
}
.inner-middle-div >h4{

   margin-bottom: 0;
}
/* .middle-div > h4{
	text-align:left;
	
}
.middle-div > hr{

	width:80%;
	margin:auto;
} */
.right-div{
  
    height: 100vh;
    border-left: 2px solid #E7DED0;
    background-color: white;
    position: fixed;
    width: 13%;
    right: 1%;
}
.exp-table{
    height: 200px;
    overflow-y: scroll;
    
    margin: auto;
}
.re-table {
    height: 200px;
    overflow-y: scroll;

    margin: auto;
	
}
#re-table{
	
	display:none;
}
table {
    
    border-collapse: collapse;
   
    border: 2px solid #E7DED0;
    margin: auto;
    table-layout: fixed;
 width: 100%;
font-size:12px;
    
  }
  th{
	  background-color:#9ab2c1;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   width: 250px;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }
  
  tr>td:nth-child(1):hover{
	  cursor:pointer;
  }

  .bottom-middle-div{
      display: grid ;
      grid-template-columns: 50% 50%;
     width: 100%;
     margin: auto;
     
   
  }
  .bottom-left{
height: 350px;


  }
  .bottom-right{
    height: 300px;
   
  }
  .bottom-right>div{
    height: 300px;
    border: 1px solid #E7DED0  ;
   
    width: 90%;
    margin: auto;
    margin-top: 25px;
   
   
  }
  .bottom-left >div{
    height: 300px;
    border: 1px solid #E7DED0  ;
  
    width: 90%;
   
    margin-top: 25px;
	display:grid;
grid-template-columns: 33% 33% 33%;

    
      }
	  
	  
#conclusions{
	display:none;
    padding: 25px;
}
.menu-ham{
    text-align: right;
}
.menu-ham>i{
    padding: 10px;
}
.menu-ham>i:hover{
   cursor: pointer;
}
.right-box1{
    width:94%;
    height: 400px;
    border: 2px solid  #dddddd;
    
    margin: auto;

}
.right-box2{
    width:94%;
    height: 300px;
    border: 2px solid  #dddddd;
    
    margin: auto;
    margin-top: 10px;

}
.right-box3{
    width:94%;
    height: 155px;
    border: 2px solid  #dddddd;
    
    margin: auto;
    margin-top: 10px;

}
.r-box>h4{
    padding: 5px;
}
#cloneBtn{
    display: none;
}
.right-div>div{
    overflow-y: scroll;

}

#ham-div{
position: absolute;
width: 400px;
height: 200px;
background-color: rgb(62, 59, 73);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
display: none;

}
#ham-div>span{
    color:white;
    padding: 5px;
    position: absolute;
    top: 3%;
    right: 3%;
}
#ham-div>span>:hover{
 cursor: pointer;
}
.quickaction{
    display: flex;
}
.quickaction >span{
    color: white;
    padding: 30px;
  
  margin: auto;
  margin-top: 50px;
}
.quickaction >span:hover{
cursor: pointer;
}
#modal{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(173, 173, 173,0.5);
    display: none;
}
#exp-title{
	margin-top:0;
}

.mass-table {
	overflow:scroll;
	height:270px;
	display:none;
}
.mass-table > table >tbody>tr > th ,td{
	width:50px;
}
#switchBtn{
	display:none;
}